body {
  background: #FFFFFF;
  /*background-image: url(images/bg.png);
  background-repeat: repeat-x;*/
  color: #312E1D;
  font: 100% Verdana, Geneva, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}

a:link {
  color: #37B0DC;
  text-decoration: none;
}

a:visited {
  color: #8A45D4;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

a img {
  border: none;
}

#page {
  background-color: #fff;
  margin: 10px auto;
  width: 940px;
}

#header {
  /*background-image: url(images/header.png);*/
  background-color: #949494;
  background-image: url(images/top_banner.png);
  background-repeat: no-repeat;
  height: 44px;
  width: 940px;
}

.block {
/*  background-image: url(images/block-default.png);*/
  background-repeat: no-repeat;
  margin-bottom: 1em;
}

.block h2 {
  color: #312E1D;
}


.block .more-link a, 
.node_read_more a {
  background-image: url(images/more.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  color: #37B0DC;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
  padding-right: 29px;
  text-decoration: none;
}

/* Visited Links that should never look visited */
.block .more-link a:visited,
.node_read_more a:visited {
  color: #37B0DC;
}

/* Navigation "user" block */
#block-user-1 {
  /*background-image: url(images/block-alternate.png);*/
}

#block-user-1 h2,
#block-user-1 h3,
#block-user-1 h4 {
  color: #000;
}

td.block {
  background-image: none;
}

/* Sidebar Styles (both right & left) */
#sidebar-left, 
#sidebar-right {
  background-color: #ffffff;
  font-size: .7em;
  float: left;
  padding: 12px 0;
  width: 176px;


 border-right: 1px solid #999999; 
}

#sidebar-left .block, 
#sidebar-right .block {
  margin-left: 0px;


}

/* Margins should be set for every element that will be placed in the sidebars */
#sidebar-left h2, #sidebar-left h3, #sidebar-left h4, 
#sidebar-left p, 
#sidebar-left .block ul, 
#sidebar-left .block li, 
#sidebar-left .more-link, 
#sidebar-left form, 
#sidebar-right h2, #sidebar-right h3, #sidebar-right h4, 
#sidebar-right p, 
#sidebar-right .block ul, 
#sidebar-right .block li, 
#sidebar-right .more-link, 
#sidebar-right form {
  margin: -1px 25px 5px 10px;
  padding: 1px;
}

#sidebar-right #search-block-form {
  padding-top: 1em;
}

#sidebar-right #edit-submit {
  margin-top: .5em;
}

#sidebar-left h2, #sidebar-left h3, #sidebar-left h4, 
#sidebar-right h2, #sidebar-right h3, #sidebar-right h4  {
  font-size: 1.3em;
  font-weight: normal;
  height: 25px;
  margin-bottom: 0;
  padding-top: 14px;
}

#sidebar-left div.block.block-block h2,
#sidebar-right div.block.block-block h2 {
  height: auto;
  padding-top: 5px;
}

#sidebar-left .block ul, 
#sidebar-right .block ul {
  padding-top: .75em;
}

#sidebar-left .block li, 
#sidebar-right .block li {
  font-size: 100%;
  margin-left: 1.5em;
  margin-right: 0;
  padding-left: 0;
}

#sidebar-left .block .content, 
#sidebar-right .block .content {
/*  background-image: url(images/block-bg.png);*/
  background-position: bottom left;
  background-repeat: no-repeat;
  


}

/* Custom blocks */
#sidebar-left .block-block, 
#sidebar-right .block-block {
/* background-image: url(images/block-custom.png);*/
  background-repeat: no-repeat;
  padding-top: 17px;
}

#block-block-5.block.block-block,
#block-block-5 div.content {
  background-image: none !important;
}

#sidebar-right #block-block-5 h1,
#sidebar-right #block-block-5 h2,
#sidebar-right #block-block-5 h3,
#sidebar-right div.block.block-block h1,
#sidebar-right div.block.block-block h2, 
#sidebar-left #block-block-5 h1,
#sidebar-left #block-block-5 h2,
#sidebar-left #block-block-5 h3,
#sidebar-left div.block.block-block h1,
#sidebar-left div.block.block-block h2 {
  background-image: url(images/dashes.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  color: #312E1D;
  margin: 0 0 .5em 0;
  padding-bottom: 5px !important;
}

#sidebar-right div.block.block-block h1,
#sidebar-right div.block.block-block h2,
#sidebar-right div.block.block-block h3,
#sidebar-left div.block.block-block h1,
#sidebar-left div.block.block-block h2,
#sidebar-left div.block.block-block h3 {
  margin-left: 11px;
}

#sidebar-right #block-block-5 h3,
#sidebar-left #block-block-5 h3 {
  background-image: none;
  margin-bottom: 0px;
}

div.block div.item-list a, 
div.block ul.menu a {
  color: #7E7550;
  text-decoration: none;
}

div.block div.item-list a:hover, 
div.block ul.menu a:hover {
  text-decoration: underline;
}

/* Main content area styles */
#main {
  color: #333;
  float: left;
  font-size: .9em;
  padding: 0 10px 10px; /* padding here creates white space "inside the box." */
  width: 724px;
  margin-left: 19px;
  
	
}

#main h2 {
  background-image: url(images/dashes.png);
  background-position: bottom;
  background-repeat: repeat-x;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.6em;
  font-weight: normal;
  padding-bottom: .25em;
}

#main h2 a:visited,
#main h2 a {
  color: #37B0DC;
  text-decoration: none;
}

#main h2 a:hover {
  text-decoration: none;
}

#content {
  font-size: .9em;
  margin-top: 15px;
}

#page-title {
  color: #A4C445;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.8em;
  font-weight: normal;
}

#content .meta {
  color: #7E7550;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#content p {
  line-height: 1.5em;
}

#content a:link {
  color: #37B0DC !important;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
  text-decoration: none;
}

#content a:hover {
  text-decoration: underline;
}

#content ul.links.inline {
  float: right;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  margin: 0 15px 2em 0;
  padding: 0;
}
#content ul.pager {
  margin-top: 1.5em;
}

#content ul.pager a {
  color: #37B0DC !important;
  text-decoration: none;
}
#content ul.pager a:hover {text-decoration: underline;}

#content ul.links.inline li,
ul.pager li {
  border-right: 1px solid #B2E55D; /* Creates a pipe separated effect */
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
}
#content ul.pager li {
  margin: 0 10px 0 0;
  padding: 0 15px 0 0;
}

#content ul.links.inline .last,
ul.pager li.last {
  border: none; /* Prevents the last item from being followed by a pipe */
  padding-right: 0;
}

/* Miscellaneous classes for reuse */
.floatRight {
  float: right;
  margin-left: 8px;
}

.floatLeft {
  float: left;
  margin-right: 8px;
}

/* Footer Content styles */
#footer-content-wrapper {
  /*background: #312E1D;
  background-image: url(images/footer-start.png);
  background-repeat: no-repeat;*/
  float: left;
  margin-left: 0px !important;
 
  padding: 0px;
  width: 940px;
  height: 120px;
}

#footer-content {
  /*border: 1px solid #B3E55D;
  border-top: none;
  border-bottom: none;
  float: left;
  margin: 49px 25px 0;
  padding: 0 21px 21px;*/
  margin-top: 0px;
  padding: 0px;
  width: 940px;



}

#footer-content h2, 
#footer-content h3, 
#footer-content h4 {
  margin-bottom: .25em;
}

.footer-content-top {
  /*background-image: url(images/footer-block-top.png);
  background-repeat: no-repeat;*/
  height: 7px;
}

#footer-content ul,
#footer-content li {
  margin-left: 10px;
  padding: 0;

}


#footer-content-4,
#footer-content-3,
#footer-content-2,
#footer-content-1 {
  float: left;
  width:226px;
  background-repeat: no-repeat;
  background-position: top left;
  height: 108px;
  margin-top:8px;
  margin-left:12px;
}


#footer-content-2 .footer-content-top{
display: none;
}

#footer-content-4,
#footer-content-2{
text-align: center;
}


#footer-content-1 {
  background-image: url(images/moto_mundo_mc_add.jpg);
  margin-left:0px;
}

#footer-content-2 { background-image: url(images/ruten_add.jpg);}
#footer-content-3 {background-image: url(images/elbilerne_add.jpg);}
#footer-content-4 { background-image: url(images/bilerne_lige_nu_add.jpg);}



#footer-content h2 {
  font-weight: normal;
  margin-top: 0;
}

#footer-content-4 .block,
#footer-content-3 .block,
#footer-content-2 .block, 
#footer-content-1 .block {
  background-image: none;
  font-size: .8em;
  margin-bottom: 0;
  /*padding: 0px 15px 15px 15px !important;*/
}

#footer-wrapper {
  background: #eeeeee;
  /*background-image: url(images/footer-end.png);
  background-repeat: no-repeat;*/
  clear: both;
  color: #F8F8F8;
  float: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
  height: 118px;
 /* margin-left: -76px;
  padding: 50px 0 0;*/
  text-align: center;
  width: 940px;
}

#footer .block {
  background-image: none;
}

#footer .block h2 {
  display: none;
}

#footer {
  font-size: .7em;
}

#footer .content {
  float: left;
  left: 50%;
  margin: 0;
  padding: 0 0 25px 0;
  position: relative;
  text-align: left;
}
#footer div.content ul.menu {
  float: none;
  left: -50%;
  margin: 0;
  padding: 0;
  position: relative;
}

#footer li {
  border-right: 1px solid #B2E55D;
  color: #37B0DC;
  display: block;
  float: left;
  list-style: none;
  margin: 0 5px 0 0;
  padding: 0 5px 0 0;
}

#footer .leaf.last {
  border: none;
}

#footer li a:link,
#footer li a:hover,
#footer li a:visited,
#footer li a:active {
  color: #37B0DC;
  text-decoration: none;
}

/* Elements which should always be in lowercase serif */
#footer li, 
#navigation, 
.block h2, .block h3, .block h4,  
.form-submit{
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: lowercase;
}

#navigation {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 6px;
  text-align: left;


  font-family: helvetica, arial sans-serif;
  text-transform:uppercase;



  
}

#navigation ul.links li {
  /*margin-right: 20px;*/
 text-align:left;
  padding-left:0em;
  padding-right:0em;
}

#navigation ul.links li a:link, 
#navigation ul.links li a:visited, 
#navigation ul.links li a:hover, 
#navigation ul.links li a:active {
  color: #444;
  /*padding-left: 28px;*/
margin-right:16px;
  text-decoration: none;
font-size: 0.8em;
}

#navigation ul.links li a:hover, 
#navigation ul.links a.active {
	color: #000;
 /* background-image: url(images/nav.gif);*/
  background-position: left center;
  background-repeat: no-repeat;
}

/* The following list styles were borrowed from Garland and adjusted to use list-style-image instead of backgrounds */
ul {
  margin: 0.5em 0 1em;
  padding: 0;
}

ol {
  margin: 0.75em 0 1.25em;
  padding: 0;
}

ol li, ul li {
 /* margin: 0.4em 0 0.4em .5em;*/ /* LTR */
}

ul.menu, .item-list ul {
  margin: 0.35em 0 0 -0.5em; /* LTR */
  padding: 0;
}

ul.menu ul, .item-list ul ul {
  margin-left: 0em; /* LTR */
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
 /*
  margin-bottom:0.15em;
  margin-top:0.15em;
*/
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  /*list-style-image: url(images/menu-leaf.png);*/
  list-style-type: none;
  padding: 0 0 .2em 1.5em;
}

ol li {
  padding: 0 0 .3em;
  margin-left: 2em; /* LTR */
}

ul li.expanded {
  list-style-image: url(images/menu-expanded.png);
}

ul li.collapsed {
  list-style-image: url(images/menu-collapsed.png) !important; /* LTR */
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
}

ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0; /* LTR */
}

/*
** Markup free clearing
** Details: http://www.positioniseverything.net/easyclearing.html
*/
/* Adding #page and the footer links div for safety */
.clear-block:after, 
#page:after,
#block-menu-primary-links:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clear-block,
#page,
#block-menu-primary-links {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear-block,
* html #page,
* html #block-menu-primary-links {
  height: 1%;
}

.clear-block,
#page,
#block-menu-primary-links {
  text-align: left;
  display: block;
  

}

/* End hide from IE-mac */


/* When the Search is in the #header, it should be displayed differently */
#header #block-search-0,
#header #search-box {
background-image: none;
float: right;
padding: 10px 12px 0 0;
}

/* Styles that hide HTML that I would rather hide by removing them from source code! */
#header #block-search-0 h2 {
  display: none; /* Heading that says Search */
}

/* Always hide the Label that says "Search this site:" */
#edit-search-block-form-1-wrapper label, 
#edit-search-theme-form-1-wrapper label { 
  display: none; 
}

/* TODO:Take care of the breadcrumb appropriately */
#breadcrumb {
  display: none;
}

/* Form Styles */
.form-text {
  border: 1px solid #A4C445;  
}

.form-submit {
  border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -khtml-border-radius-topleft: 8px;  
  -moz-border-radius-topleft: 8px;
  
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -khtml-border-radius-bottomright: 8px;  
  -moz-border-radius-bottomright: 8px;

  background-color : #8EAB36;
  border : 1px solid #FFF;
  color: #FFF;
  padding-left : 7px;
  padding-right : 7px;
}

/* Login Form Styles */
#user-login-form {
  color: #333;
}

#user-login-form .form-item {
  text-align: left;
}

#user-login-form .form-item input {
  width: 130px;
}

#user-login-form label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: .2em;
  text-transform: lowercase;
}

#user-login-form a {
  color: #37B0DC;
}

#user-login-form div.item-list {
  padding-top: .5em;
}

#user-login-form div.item-list ul,
#user-login-form div.item-list ul li {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-type: none;
}

/* Advertisements Styles */
div.advertisements {
  padding: 0 15px;
}
div.advertisements h6 {
  color: #CCC;
  font-size: 12px;
  margin-bottom: .5em;
  margin-top: 1em;
  text-align: center;
}

div.advertisements p,
div.advertisements h2,
div.advertisements div.block {
  margin: 0 !important;
  padding: 0 !important;
}

div.advertisements div {
  background-image: none !important;
}

div.advertisements div.block h2 {
  background-image: url(images/dashes.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  margin-bottom: .5em !important;
  padding-bottom: .75em !important;
}


/* Messages */
.messages {
  background-color: #FFFFFF;
  padding: 10px;
}

.status {
  background-color: #B0DFF1;
}

.warning {
  background-color: #FFFCDF;
}

.error {
  background-color: #FFCC00;
}


.new {
   color: #8EAB36;
   font-weight: bold;
}


/* Comments */
#comments {
  margin-top: 30px;
}

.comment {
  border-top: 1px solid #DEDEDE;
  margin-bottom: 10px;
  color: #312E1D;
  padding-left: 6px;
  padding-right: 6px;
}

.comment-new {
  background-color: #F7FFDF;
}

.comment .submitted {
  text-align: right;
  margin-top: 10px;
  font-size: 0.5em;
}

.comment-preview {
  padding: 12px 15px;
}

.comment .links {
  text-align: right;
}


.in-maintenance #content {
	height: 400px;
}

.tumbnail_image {
	float: right;
	width:41px;
	height:30px;
	margin-left: 6px;
	margin-top: 6px;
	margin-right: 6px;
}

.dk_flag { 	background-image: url(images/dk.gif);}
.gb_flag { 	background-image: url(images/uk.gif);}



/* Footer Content styles */
#intro_wrapper {
  /*background: #312E1D;
  background-image: url(images/footer-start.png);
  background-repeat: no-repeat;*/


  float: left;
  margin-left: 0px !important;
  
  width: 730px;
  height: 300px;

}

#intro_left {

  background-image: url(images/ninaoghjalte.jpg);
  background-repeat: no-repeat;

  float: left;
  height:240px;

  width: 254px;


}

#intro_right {

  float: left;

  width: 440px;

font-size:0.9em;
font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;

}

.views-field-title{
	font-size: 1.3em;
	color:#555;
	margin-bottom:0px;
	margin-top:12px;
	border-bottom: 1px solid #999999; 
	vertical-align:text-top;
}

.views-field-body{
	color:#777777;
	margin-bottom:30px;
	vertical-align:text-top;
	padding-left:12px;
	
	
	
}



hr {
	border-top: 1px solid #555555; 
	border-bottom: 0px; 
}



